<section class="container">
  <div class="container-wrapper">
    <div class="title">
      <h1>Very simple page</h1>
    </div>
    <article class="some-text">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non semper ante, vel suscipit tortor. Duis sit amet lacus ac est mattis pellentesque. Nullam sed quam nulla. Pellentesque pharetra purus nulla, nec facilisis sapien sagittis sed. Ut vehicula dignissim nisi, sit amet malesuada mi vestibulum ac. Fusce a justo nec quam ornare ornare eget a felis. Praesent vulputate elementum condimentum. Vivamus at purus quam. Nullam accumsan cursus velit id dignissim. Nulla nibh tortor, dapibus ac sem sed, mollis auctor tortor. Nunc ultricies porta sagittis. Pellentesque faucibus, dolor a posuere maximus, nunc mauris feugiat ex, non ullamcorper nulla mauris vel justo. Ut dui felis, commodo eget est ut, venenatis luctus nibh. Morbi non tortor molestie, semper felis nec, tempor enim. Quisque eget nisl vel eros scelerisque sollicitudin. Etiam faucibus pharetra ex sed interdum.
      </p>
    </article>
  </div>
</section>
